h1 { /*設定h1標題為黑色與文字靠左*/
color: black; text-align: left;}

body {
 background-repeat: repeat;
 background-position: center center;
 background-attachment: fixed;}

@media screen and (min-width: 1280px) {
  body { font-size: large; }}

@media screen and (max-width: 1279px) and (min-width:480px) {
  body { font-size: medium; }}
    
@media screen and (max-width: 480px) {
  body { font-size: small; }}

a:visited {color:blue;}
a:hover {color:red;}

#letterspacing {letter-spacing:1px;}
#shadow {text-shadow:5px 5px 5px gray;}

 .responsive-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 高寬比，根據您的需求調整 */
  height: 0;
  overflow: hidden;}

 .responsive-image {
  max-width: 100%;
  height: auto;}

 .image-container {
  display: flex;
  justify-content: center;
  align-items: center;}

  .scrollable {
    background-color: white;
    overflow-y: scroll;
    resize: none;
    width: 445px;
    height: 150px; /* 根據需要調整高度 */
    border: 1px solid #ccc;
    padding: 5px;
  }
